<div class="row">
    <div class="col-lg-6">
        <a href="..\Usuario\Login" class="btn btn-block btn-primary"> Entrar no Sistema</a>
        <!-- <button type="button" class="btn btn-block btn-primary"></button>-->
    </div>
    <div class="col-lg-6">
        <!-- <button type="button" class="btn btn-block btn-success">Registrar uma Conta</button>-->
        <a href="..\Usuario\Registrar" class="btn btn-block btn-success">Registrar uma Conta</a>
    </div>
</div>

@TempData["NomeUsuarioLogado"]