
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="..\Conta\Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.png" width="30%" />
            <h3 class="texto-menu">Criar conta</h3>
        </div>
    </a>
    <a href="..\PlanoConta\Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/planocontas.png" width="30%">
            <h3  class="texto-menu">Plano de Contas</h3>
        </div>
    </a>
    <a href="..\Transacao\Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/registrar_transacao.png" width="30%">
            <h3  class="texto-menu">Registrar Transação</h3>
        </div>
    </a>
</div>
<br />
<br />
<br />

<div class="row">
    <a href="..\Transacao\Extrato">
        <div class="col-lg-4 text-center">
            <img src="~/images/extrato.png" width="30%" />
            <h3  class="texto-menu">Extrato Conta</h3>
        </div>
    </a>
    <a href="..\Transacao\Dashboard">
        <div class="col-lg-4 text-center">
            <img src="~/images/dashboard.png" width="30%">
            <h3  class="texto-menu">Dashboard</h3>
        </div>
    </a>
    <a href="..\Home\Ajuda">
        <div class="col-lg-4 text-center">
            <img src="~/images/help.png" width="30%">
            <h3 class="texto-menu">Ajuda</h3>
        </div>
    </a>
</div>


